* {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
  background: linear-gradient(10deg, rgba(244,235,160,1) 73%,rgba(192,250,202,1) 73%);
  body: #fff;
  font-family: sans-serif;
  font-size: 18px;
}

h1, h2 {
  text-align: center;
  line-height: 1;
  font-size: 2.5vw;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 #6e1f58, 1px -1px 0 #6e1f58, -1px 1px 0 #6e1f58, 1px 1px 0 #6e1f58, 1px 0px 0px #65f283, 0px 1px 0px #65f283, 2px 1px 0px #65f283, 1px 2px 0px #65f283, 3px 2px 0px #65f283, 2px 3px 0px #65f283, 4px 3px 0px #65f283, 3px 4px 0px #65f283, 5px 4px 0px #65f283, 3px 5px 0px #6e1f58, 6px 5px 0px #6e1f58, -1px 2px 0 black, 0 3px 0 #6e1f58, 1px 4px 0 #6e1f58, 2px 5px 0px #6e1f58, 2px -1px 0 #6e1f58, 3px 0 0 #6e1f58, 4px 1px 0 #6e1f58, 5px 2px 0px #6e1f58, 6px 3px 0 #6e1f58, 7px 4px 0 #6e1f58, 10px 10px 4px #dac249;
}

h1 {
  font-size: 2.5vw;
  color: #4ad9db;
}

h2 {
  font-size: 1.8vw;
  color: #c0faca;
}

#wrapper {
  margin: 40px auto 0;
  width: 266px;
  position: relative;
}

#wheel {
  width: 250px;
  height: 250px;
  border: 8px solid #fff;
  transform: rotate(0deg);
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: rgba(0,0,0,0.2) 0px 0px 10px, rgba(0,0,0,0.05) 0px 3px 0px;
  overflow: hidden;
  border-radius: 50%;
}

#wheel:before {
  content: "";
  position: absolute;
  border: 4px solid rgba(0,0,0,0.1);
  width: 242px;
  height: 242px;
  border-radius: 50%;
  z-index: 1000;
}

#inner-wheel {
  width: 100%;
  height: 100%;
  transition: all 6s cubic-bezier(0,.99,.44,.99);
}

#section1, #section2, #section3, #section4, #section5, #section6, #section7, #section8 {
  width: 0;
  border-width: 130px 75px 0;
  top: -4px;
  border-color: #19c transparent;
  height: 0;
  transform-origin: 75px 129px;
  border-style: solid;
  position: absolute;
  opacity: 1;
  left: 50px;
}

#wheel #section1 {
  transform: rotate(60deg);
  border-color: #16a085 transparent;
}

#wheel #section2 {
  transform: rotate(120deg);
  border-color: #2980b9 transparent;
}

#wheel #section3 {
  transform: rotate(180deg);
  border-color: #34495e transparent;
}

#wheel #section4 {
  transform: rotate(240deg);
  border-color: #f39c12 transparent;
}

#wheel #section5 {
  transform: rotate(300deg);
  border-color: #d35400 transparent;
}

#wheel #section6 {
  transform: rotate(360deg);
  border-color: #c0392b transparent;
}

#wheel div .yn-text {
  text-align: center;
  position: relative;
  margin-top: -100px;
  z-index: 100000;
  margin-left: -15px;
  font-size: 16px;
  display: block;
  text-shadow: rgba(255, 255, 255, 0.1) 0px -1px 0px, rgba(0, 0, 0, 0.2) 0px 1px 0px;
  color: rgba(0,0,0,0.2);
}

#spin {
  width: 68px;
  top: 50%;
  font-family: sans-serif;
  height: 68px;
  margin: -34px 0 0 -34px;
  user-select: none;
  position: absolute;
  z-index: 1000;
  cursor: pointer;
  border-radius: 50%;
  background: #fff;
  left: 50%;
}

#spin:after {
  line-height: 68px;
  width: 68px;
  height: 68px;
  text-align: center;
  position: relative;
  z-index: 100000;
  content: "SPIN";
  display: block;
  text-shadow: 0 2px 0 #fff, 0 -2px 0 rgba(0,0,0,0.3);
  color: #CCC;
}

#spin:before {
  width: 0;
  border-width: 0 20px 28px 20px;
  top: -12px;
  border-color: transparent transparent #ffffff transparent;
  height: 0;
  border-style: solid;
  position: absolute;
  content: "";
  left: 14px;
}

#inner-spin {
  width: 54px;
  top: 50%;
  height: 54px;
  margin: -27px 0 0 -27px;
  position: absolute;
  z-index: 999;
  box-shadow: rgba(255,255,255,1) 0px -2px 0px inset, rgba(255,255,255,1) 0px 2px 0px inset,  rgba(0,0,0,0.4) 0px 0px 5px;
  border-radius: 50%;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%);
  left: 50%;
}

#spin:active #inner-spin {
  box-shadow: rgba(0,0,0,0.4) 0px 0px 5px inset;
}

#spin:active:after {
  font-size: 15px;
}

@keyframes my-animation {

0%, 100% {
    transform: rotate(0deg);
  }
  
50% {
    transform: rotate(7deg);
  }

}

.spin {
  animation: my-animation 0.1s;
}